<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Announce your planning events</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<form method="POST" action="/add">
<p>Name of new computer scientist:<br>
  <input type="text" name="name"><br>
   Brief Introduction(no more than 30 words, optional):<br>
  <input type="text" name="introduction"><br>
  Brief Introduction(no more than 30 words, optional):<br>
  <input type="text" name="description"><br>
  Date:<br>
  <input type="date" name="date"><br>
  Department(Abbreviation, optional):<br>
  <input type="text" name="dept_id"><br>
  Intended Building:<br>
  <input type="text" name="building"><br>
  Intended Room:<br>
  <input type="number" name="code"><br>
  <input type="submit" value="Add"></p>
</form>

</body>


</html>
