<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jiakai XU, Xuande Feng">
    <meta name="keywords" content="columbia, database, cs, jiakai, xu, alex, xuande, feng, computer, science, python, flask">
    <meta name="description" content="Event At A Glance: Python Flask and PostgreSQL based one-stop campus event managing and searching platform.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <title>EAAG - {% block title %} {% endblock %}</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 1.5em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('query') }}">Query</a>
        <a href="{{ url_for('about') }}">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>