{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Result display {% endblock %}</h1>
    {% for e in events %}
        <div id="{{ e.id }}">
            <table border="1" style="width: 100%">
                <thead>
                    <tr>
                        <th>{{ e.id }}</th>
                        <th colspan="3">{{ e.name }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="4">
                            {{ e.intro }}
                            <hr>
                            {{ e.description }}
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td>Location:</td>
                        <td><a href="https://{{ e.blink }}" target="_blank">{{ e.bfname }}</a></td>
                        <td>Room:</td>
                        <td>{{ e.room }}</td>
                    </tr>
                    <tr>
                        <td>Start time:</td>
                        <td>{{ e.date }}, {{ e.hour }}:00</td>
                        <td>Department:</td>
                        <td>{{ e.dfname }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% endfor %}
{% endblock %}
