{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome {% endblock %}</h1>

    <img src="{{ url_for('static', filename='partyevents.png')}}" width="75%" alt="welcome picture">

    <p>
        Are you tired of looking for information on events from various school platforms?
        Have you ever been sad that you missed a favorite show?
        Have you ever missed a chance to meet your future employer because you didn't see a notice?
    </p>
    <p>
        At EAAG, we say goodbye to the past!<br>
        We use new technology to define a new platform, and a new platform to bring you a new life!
        Welcome to Events-At-A-Glance, your personal campus event assistant.
    </p>

{% endblock %}
