{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Query {% endblock %}</h1>
    <form method="POST" action="/display">
        <fieldset>
            <legend>Selection Criteria</legend>
            <div>
                <div id="title">
                    <h3>Search for event title</h3>
                    <input type="text" id="name" name="name" maxlength="30" size="30">
                    <div>
                        <input type="radio" id="exm" name="match" value="exact" checked>
                        <label for="exm">Exact Matching</label>
                        <input type="radio" id="fum" name="match" value="fuzzy">
                        <label for="fum">Fuzzy Matching</label>
                    </div>
                </div>

                <div id="qbuild">
                    <h3>Search for event place</h3>
                    {% for b in building %}
                    <input type="checkbox" id="{{b}}" name="build" value="{{b}}">
                    <label for="{{b}}">{{d | upper}}</label>
                    {% endfor %}
                </div>

                <div id="qdept">
                    <h3>Search for host department</h3>
                    {% for d in department %}
                    <input type="checkbox" id="{{d}}" name="dept" value="{{d}}">
                    <label for="{{d}}">{{d}}</label>
                    {% endfor %}
                </div>

                <div id="qdate">
                    <h3>Search for happening date</h3>
                    <label for="date">Start date:</label>
                    <input type="date" id="date" name="startdate"
                           min="2023-01-01" max="2023-05-31">
                </div>
            </div>
            <div>
                <input type="submit" value="lookup">
                <input type="reset" value="clear">
            </div>
        </fieldset>
    </form>
{% endblock %}